
*{
    margin: 0;
    padding: 0;
    background: #6996c2;
}
#header{
    font-size: 40px;
    font-family: comic sans ms;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: linear-gradient(to bottom, #ffffff, #6996c2);
}
ul{
    list-style: none;
    display: flex; 
    flex-flow: row wrap;  
    justify-content: center;
}
li{
    margin: none;
    padding: 5px 40px 5px 40px;
    border: 2px solid #378bf8;
    
}
li:nth-child(2){
    border-right: none;
    border-left: none;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-style: italic;
}
a:visited{
    color:#43028c
}
a:hover{
    color: #fff;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    color:#000;
    background: #ffffff;
    border: 2px solid #6996c2;
    outline: none;
    cursor: pointer;
    width: 200px;
    height: 25px;
    text-align: center;
}
input::placeholder{
    color:rgb(94, 131, 234);
    font-family:'Comic Relief', cursive; 
}
button{
    background: #e72d0c;
    font-family:'Birthstone Bounce', cursive;
}
